@keyframes bounceIn {
    0% {
        top: -20%;
    }
    25% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    75% {
        top: 50%;
    }
    100% {
        top: -20%;
    }


}
.dot-container {
    height: 100vh;
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
}


/* animation: [name] [duration] [timing function] [delay]
[iteration-count] [direction] [fill-mode] [play-state];
*/
/*cubic-bezier(.08,.59,.79,1.51)*/
.dot {
    animation-name: bounceIn;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.08,.59,.73,1);
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;

    background: #129881;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

