@keyframes bounceIn {
    0% {
        top: 0;
    }
    25% {
        top: 25%;
    }
    50% {
        top: 20%;
    }
    55% {
        top: 25%;
    }
    100% {
        top: 0;
    }
}

.dot-container {
    height: 100vh;
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
}


/* animation: [name] [duration] [timing function] [delay]
[iteration-count] [direction] [fill-mode] [play-state];
*/
/*cubic-bezier(.08,.59,.79,1.51)*/
.dot {
    animation-name: bounceIn;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.08,.59,.73,1);
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;

    background: #204C43;
    margin:30px 30px 30px 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.dot:nth-child(2) {
    animation-delay: 0.6s;
    background: #5FB682;

}
.dot:nth-child(3) {
    animation-delay: 0.8s;
    background: #F7C244;

}
.dot:nth-child(4) {
    animation-delay: 1s;
    background: #F68623;

}
.dot:nth-child(5) {
    animation-delay: 1.2s;
    background: #DB2F24;

}


